body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container-fluid {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.row {
  margin-bottom: 20px;
}

.col-md-6 {
  width: 50%;
  padding: 0 15px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  border: none;
}

h1 {
  font-size: 24px;
  font-family: Roboto, sans-serif;
}

p {
  font-size: 16px;
  font-family: Georgia, sans-serif;
  
}


.col-md-6 h1 {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: #000;
  background-color: #fff;
}

.col-md-6 p {
  font-size: 16px;
  font-family: Georgia, sans-serif;
  color: #000;
}

td {
  vertical-align: middle;
}

h2{
  font-size: 1.8rem;
  font-weight: 600;
}

h3{
  font-size: 1.5rem;
  font-weight: 800;
}

h4{
  font-size: 1.2rem;
  font-weight: 600;
}

h5{
  font-size: 1rem;
  font-weight: 400;
}

h6{
  color: aquamarine;
}

#home {
  background-image: url('../bilder_test/2.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 90px;
  /* background: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#new .one img{
  width: 100%;
  height: 100%;
}