body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .table th {
    font-weight: bold;
    text-align: left;
  }
  
  .table td {
    padding: 10px;
  }
  
  .total-price {
    background-color: #eee;
    padding: 20px;
    text-align: right;
    margin-top: 20px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }